
body{
  background-color: lightblue;
}

div.facilities {
  width: 45%;
  margin-left: 25px;
  margin-right: auto;
  padding-left: 30px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 45px;
  background-color: rgb(125, 198, 243);
  box-shadow: 10px 10px 5px 12px lightblue;
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
